<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link lang="sass" rel="stylesheet" href="./static/styles/aboutus.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9607112da2.js"
      crossorigin="anonymous"
    ></script>
    <title>About Us</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="#">About Us</a>
      <a href="#">Ji-Oh</a>
      <a href="#">Gibson</a>
      <a href="#">Valerie</a>
      <a href="#">Shivi</a>
    </div>
    <div class="about-section">
      <h1>About Us</h1>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img class="card-image" src="../static/img/jioh.png" alt="Jane"  />
          <div class="container">
            <h2>Ji-Oh Kim</h2>
            <p class="title">University of Toronto</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="https://www.linkedin.com/in/jioh-kim/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/jioh-kim"><i class="fa fa-github"></i></a>
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="card-image" src="../static/img/me.png" alt="Mike"  />
          <div class="container">
            <h2>Gibson Sanchez</h2>
            <p class="title">CUNY Baruch College</p>
            <p>Hello my name is Gibson, am a recent graduate from CUNY Baruch College.
              I love to use all kinds of technologies doesn't matter what kind of technology it is,
              it can be a new programming language, different Linux distro, etc. but most all
              I like to use technology to solve a problems.
            </p>
            <a href="https://www.linkedin.com/in/gibson-sanchez/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/sgibson19"><i class="fa fa-github"></i></a>
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="card-image" src="../static/img/valerie.jpg" alt="John" />
          <div class="container">
            <h2>Valerie Shantal Mac Comish Ripa</h2>
            <p class="title">University of Pennsylvania</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="https://www.linkedin.com/in/valeriemaccomish/"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img class="card-image" src="../static/img/shivi.jpg" alt="Mike"  />
          <div class="container">
            <h2>Shivi Chaubey</h2>
            <p class="title">Virginia Tech College of Engineering</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="https://www.linkedin.com/in/shivi-chaubey-sc/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/shivichaubey"><i class="fa fa-github"></i></a>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
