<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang="sass" rel="stylesheet" href="./static/styles/home.css" />
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/aboutus">About Us</a>
        <a href="#">Ji-Oh</a>
        <a href="#">Gibson</a>
        <a href="#">Valerie</a>
        <a href="#">Shivi</a>
    </div>
    <div class="content">
       <h1>Team 4</h1>
       <p>sadassda adadadadad adasdadad adadadaadasdadasd adadadaadas<br> dadasdadaddad
           adadadasdada daadsada adadad  addada dada
       </p>
    </div>
</body>
</html>