<!DOCTYPE html>
<html lang="en">

<head>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <script src="https://kit.fontawesome.com/9607112da2.js" crossorigin="anonymous"></script>
    <title>Team 4</title>
</head>

<body>
    <h1>Our Team</h1>
    <div class="row">
        <div class="column">
            <div class="container">
                <img src="../static/img/logo.jpg" alt="Avatar" class="image">
                <div class="overlay">My Name is John</div>
            </div> 
            <p class="text-align">sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad</p>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="column">
            <div class="container">
                <img src="../static/img/logo.jpg" alt="Avatar" class="image">
                <div class="overlay">My Name is John</div>
            </div> 
            <p class="text-align">sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad</p>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="column">
            <div class="container">
                <img src="../static/img/logo.jpg" alt="Avatar" class="image">
                <div class="overlay">My Name is John</div>
            </div> 
            <p class="text-align">sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad</p>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="column">
            <div class="container">
                <img src="../static/img/logo.jpg" alt="Avatar" class="image">
                <div class="overlay">My Name is John</div> 
            </div> 
            <p class="text-align">sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad</p>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</body>
</html>