<!DOCTYPE html>
<html lang="en">
  <head>
    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9607112da2.js"
      crossorigin="anonymous"
    ></script>
    <title>Team 4</title>
  </head>

  <body>
    <!-- <h1>Our Team</h1> -->
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>
    <div class="row">
      <div class="column">
        <div class="container">
          <div class="card">
            <img src="../static/img/logo.jpg" alt="John" style="width: 100%" />
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Profile</button></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container">
          <img src="../static/img/logo.jpg" alt="Avatar" class="image" />
          <div class="overlay">My Name is John</div>
        </div>
        <p class="text-align">
          sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad
        </p>
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <div class="column">
        <div class="container">
          <img src="../static/img/logo.jpg" alt="Avatar" class="image" />
          <div class="overlay">My Name is John</div>
        </div>
        <p class="text-align">
          sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad
        </p>
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <div class="column">
        <div class="container">
          <img src="../static/img/logo.jpg" alt="Avatar" class="image" />
          <div class="overlay">My Name is John</div>
        </div>
        <p class="text-align">
          sdadasdas adasdadadadada adadadada adadaadd adadadad adadadadadad
        </p>
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </body>
</html>
