<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
    src="https://kit.fontawesome.com/9607112da2.js"
    crossorigin="anonymous"
    ></script>
  <title>Gibson's Portfolio</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <!-- <div class="brand">
          <a href="#hero">
            <h1><span>G</span>ibson<span>S</span>anchez</h1>
          </a>
        </div> -->
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Gibson <span></span></h1>
        <!-- <a href="#projects" type="button" class="cta">Portfolio</a> -->
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->


  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>FIFA World Cup Quiz</h1>
            <h2></h2>
            <p> FIFA World Cup quiz I created using the MERN stack and SendGrid. The main reason I created this project was to learn 
            about login authentication, almost every app we use has some sort of login authenication.</p>
          </div>
          <div class="project-img">
            <a href="https://pure-sands-13311.herokuapp.com/home"><img src="../static/img/quiz.png"></a>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>MyBudget.</h1>
            <h2></h2>
            <p>MyBudget. is a web application using the MERN stack, designed in Material-UI, and uses Speechly API for voice integration. I created it so I can see what am I'm spending
              my money on and most of all to avoid those "pending transactions" from bank accounts. By pending transactions, I mean when you purchased something with your 
              debit/credit card, it sometimes doesn't show the correct date of the purchase. This issue led to create this web application for my own personal use, now I know the specific dates of each purchase.</p>
          </div>
          <div class="project-img">
            <a href="https://glacial-fjord-40189.herokuapp.com/home"><img src="../static/img/mybudget.png"></a>
          </div>
        </div>
       
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="../static/img/me.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Technology Enthusiast</h2>
        <p>Hello my name is Gibson Sanchez, I'm currently a Production Engineer Fellow 
          at Major League Hacking and also a recent graduate from CUNY Baruch
          College. I love to use all kinds of technologies doesn't matter
          what kind of technology it is, it can be a new programming
          language, different Linux distro, etc. but most all I like to use
          technology to solve a problems.</p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact</h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><a href="https://www.linkedin.com/in/gibson-sanchez/"><img src="../static/img/Linkedin-Logo.png" /></a></div>
          <div class="icon"><a href="https://github.com/sgibson19"><img src="../static/img/github-mark.png" /></a></div>
    </div>
  </section>
  <!-- End Contact Section -->

  
  <script src="../static/js/app.js"></script>
</body>

</html>