<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link lang="sass" rel="stylesheet" href="./static/styles/prac.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9607112da2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="about-section">
      <h1>Team 4</h1>
      <p>Some text about who we are and what we do.</p>
      <p>
        Something about us
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/img/logo.jpg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Jane Doe</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/img/logo.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/img/logo.jpg" alt="John" style="width: 100%" />
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="../static/img/logo.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
